* {
  padding: 0;
  margin: 0; }

#clinic-app.wrapper {
  max-width: 1280px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  color: #666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  #clinic-app.wrapper .select-box {
    padding: 25px 0;
    text-align: center; }
    #clinic-app.wrapper .select-box .select-item {
      width: 180px;
      height: 48px;
      margin: 0 5px;
      padding: 0;
      border: 2px solid #69b3af;
      border-radius: 24px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: inline-block;
      overflow: hidden; }
      #clinic-app.wrapper .select-box .select-item select {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        font-size: 20px;
        line-height: 1.5;
        text-align: center;
        color: #69b3af;
        border: none; }
        #clinic-app.wrapper .select-box .select-item select:focus {
          outline: none; }
  #clinic-app.wrapper .main .clinic-box {
    padding-top: 30px;
    border-top: 1px solid #ccc; }
    #clinic-app.wrapper .main .clinic-box + .clinic-box {
      margin-top: 30px; }
    #clinic-app.wrapper .main .clinic-box .title {
      padding-bottom: 30px;
      font-size: 16px; }
      #clinic-app.wrapper .main .clinic-box .title .highlight {
        color: #69b3af; }
    #clinic-app.wrapper .main .clinic-box .clinic-item {
      font-size: 0; }
      #clinic-app.wrapper .main .clinic-box .clinic-item:after {
        content: '';
        display: block;
        clear: both; }
      #clinic-app.wrapper .main .clinic-box .clinic-item + .clinic-item {
        margin-top: 30px; }
      #clinic-app.wrapper .main .clinic-box .clinic-item .pic-container {
        width: 50%;
        padding-right: 30px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        float: left; }
        #clinic-app.wrapper .main .clinic-box .clinic-item .pic-container .pic {
          width: 100%;
          padding-bottom: 61.5%;
          border-radius: 15px;
          background-color: #ccc;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat; }
        #clinic-app.wrapper .main .clinic-box .clinic-item .pic-container .pic-show {
          width: 100%; }
        #clinic-app.wrapper .main .clinic-box .clinic-item .pic-container .pic-box {
          width: 100%;
          margin: 8px 0; }
          #clinic-app.wrapper .main .clinic-box .clinic-item .pic-container .pic-box .pic-item {
            width: calc(20% - 4px);
            display: inline-block;
            opacity: 0.5;
            cursor: pointer;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
            #clinic-app.wrapper .main .clinic-box .clinic-item .pic-container .pic-box .pic-item + .pic-item {
              margin-left: 5px; }
            #clinic-app.wrapper .main .clinic-box .clinic-item .pic-container .pic-box .pic-item:hover {
              opacity: 0.7; }
          #clinic-app.wrapper .main .clinic-box .clinic-item .pic-container .pic-box .active {
            opacity: 1; }
            #clinic-app.wrapper .main .clinic-box .clinic-item .pic-container .pic-box .active:hover {
              opacity: 1; }
      #clinic-app.wrapper .main .clinic-box .clinic-item .information-container {
        width: 50%;
        padding-top: 30px;
        float: left; }
        #clinic-app.wrapper .main .clinic-box .clinic-item .information-container .clinic-name {
          font-size: 32px;
          color: #69b3af; }
        #clinic-app.wrapper .main .clinic-box .clinic-item .information-container .sub-title {
          margin-top: 20px;
          font-size: 16px;
          font-weight: bold; }
        #clinic-app.wrapper .main .clinic-box .clinic-item .information-container .info {
          margin-top: 5px;
          font-size: 16px;
          color: #666;
          text-decoration: none; }
        #clinic-app.wrapper .main .clinic-box .clinic-item .information-container .google-map-icon {
          width: 30px;
          padding-left: 5px; }
  @media only screen and (max-width: 768px) {
    #clinic-app.wrapper .select-box {
      padding: 15px 0; }
      #clinic-app.wrapper .select-box .select-item {
        width: 120px;
        height: 40px;
        border-radius: 20px; }
        #clinic-app.wrapper .select-box .select-item select {
          font-size: 16px; }
    #clinic-app.wrapper .main .clinic-box + .clinic-box {
      margin-top: 15px; }
    #clinic-app.wrapper .main .clinic-box .title {
      padding: 15px 0;
      font-size: 14px; }
    #clinic-app.wrapper .main .clinic-box .clinic-item + .clinic-item {
      margin-top: 20px; }
    #clinic-app.wrapper .main .clinic-box .clinic-item .pic-container {
      width: 100%;
      padding-right: 0px; }
      #clinic-app.wrapper .main .clinic-box .clinic-item .pic-container .pic {
        border-radius: 10px; }
    #clinic-app.wrapper .main .clinic-box .clinic-item .information-container {
      width: 100%;
      padding-top: 10px; }
      #clinic-app.wrapper .main .clinic-box .clinic-item .information-container .clinic-name {
        font-size: 24px; }
      #clinic-app.wrapper .main .clinic-box .clinic-item .information-container .sub-title {
        margin-top: 10px;
        font-size: 14px; }
      #clinic-app.wrapper .main .clinic-box .clinic-item .information-container .info {
        margin-top: 2px;
        font-size: 14px; } }

/*# sourceMappingURL=all.css.map */
